In [4]:
# instalo openpyxl para leer el Excel, matplotlib y seaborn (para los gráficos y análisis estadísticos) e importo las librerías de panda y numpys, 
# además de load_workbook desde openpyxl para que reconozca las 43.000 filas

!python -m pip install openpyxl matplotlib seaborn
from openpyxl import load_workbook
import pandas as pd
import numpy as np

Requirement already satisfied: openpyxl in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: matplotlib in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (3.10.8)
Requirement already satisfied: seaborn in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: et-xmlfile in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in c:\users\athga\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\athga\appdata\roaming\python\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\athga\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\athga\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [9]:
# abro con openpyxl para asegurar que detectamos todas las filas

wb = load_workbook("Trabajo_excel_python.xlsx")
ws = wb.active
print(f"Filas totales detectadas por openpyxl: {ws.max_row}, Columnas: {ws.max_column}")

Filas totales detectadas por openpyxl: 43001, Columnas: 31

In [10]:
# cargo a pandas asegurándome de tomar todas las filas

df = pd.read_excel("Trabajo_excel_python.xlsx", engine="openpyxl", header=0)

In [116]:
# Creo generador de todas las filas
data = ws.values

# Tomo la primera fila como nombres de columnas
cols = next(data)

# Creo DataFrame con el resto de las filas
df = pd.DataFrame(data, columns=cols)

In [117]:
# reviso que cargan todas las filas

print(f"Dataset cargado en pandas: {df.shape[0]} filas x {df.shape[1]} columnas")

Dataset cargado en pandas: 43000 filas x 31 columnas

In [119]:
print("\n--- Información general ---")
print(df.info())

summary = pd.DataFrame({
    "dtype": df.dtypes,
    "n_nulls": df.isna().sum(),
    "n_unique": df.nunique()
})
print("\n--- Resumen de columnas ---")
print(summary)

--- Información general ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 31 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 43000 non-null  int64
 1   Age                                  37880 non-null  float64
 2   Start date                           42752 non-null  datetime64[ns]
 3   Job                                  43000 non-null  object
 4   Education                            43000 non-null  object
 5   Marital                              43000 non-null  object
 6   Income                               43000 non-null  int64
 7   NumWebVisitsMonth                    43000 non-null  int64
 8   Kidhome                              43000 non-null  int64
 9   Teenhome                             43000 non-null  int64
 10  Payment default                      34019 non-null  float64
 11  Housing                              41974 non-null  object
 12  Loan                                 41974 non-null  object
 13  Service/product contracted           43000 non-null  object
 14  Current campaign calls               43000 non-null  int64
 15  Days from last call                  43000 non-null  int64
 16  Previous contacts                    43000 non-null  int64
 17  Previous marketing campaign outcome  43000 non-null  object
 18  Employment var.rate                  43000 non-null  int64
 19  Cons.price.idx                       42529 non-null  float64
 20  Cons.conf.idx                        43000 non-null  float64
 21  Euribor3months                       33744 non-null  float64
 22  Interaction date                     43000 non-null  datetime64[ns]
 23  Nr.employed                          43000 non-null  int64
 24  Latitude                             43000 non-null  int64
 25  Longitude                            43000 non-null  int64
 26  Coordinates                          43000 non-null  object
 27  ID                                   43000 non-null  object
 28  Duration                             43000 non-null  int64
 29  None                                 0 non-null      object
 30  None                                 0 non-null      object
dtypes: datetime64[ns](2), float64(5), int64(13), object(11)
memory usage: 10.2+ MB
None

--- Resumen de columnas ---
                                              dtype  n_nulls  n_unique
Year                                          int64        0         3
Age                                         float64     5120        78
Start date                           datetime64[ns]      248      1825
Job                                          object        0        12
Education                                    object        0         8
Marital                                      object        0         4
Income                                        int64        0     38173
NumWebVisitsMonth                             int64        0        32
Kidhome                                       int64        0         3
Teenhome                                      int64        0         3
Payment default                             float64     8981         2
Housing                                      object     1026         2
Loan                                         object     1026         2
Service/product contracted                   object        0         2
Current campaign calls                        int64        0        42
Days from last call                           int64        0        27
Previous contacts                             int64        0         8
Previous marketing campaign outcome          object        0         3
Employment var.rate                           int64        0        10
Cons.price.idx                              float64      471        26
Cons.conf.idx                               float64        0        26
Euribor3months                              float64     9256       309
Interaction date                     datetime64[ns]        0      1096
Nr.employed                                   int64        0        11
Latitude                                      int64        0     20491
Longitude                                     int64        0     30448
Coordinates                                  object        0     43000
ID                                           object        0     43000
Duration                                      int64        0      1540
None                                         object    43000         0
None                                         object    43000         0

In [122]:
# separo columnas numéricas y categóricas

numeric_cols = df.select_dtypes(include=["number"]).columns
categorical_cols = df.select_dtypes(include=["object", "category"]).columns

print(f"\nColumnas numéricas ({len(numeric_cols)}): {list(numeric_cols)}")
print(f"Columnas categóricas ({len(categorical_cols)}): {list(categorical_cols)}")

Columnas numéricas (18): ['Year', 'Age', 'Income', 'NumWebVisitsMonth', 'Kidhome', 'Teenhome', 'Payment default', 'Current campaign calls', 'Days from last call', 'Previous contacts', 'Employment var.rate', 'Cons.price.idx', 'Cons.conf.idx', 'Euribor3months', 'Nr.employed', 'Latitude', 'Longitude', 'Duration']
Columnas categóricas (11): ['Job', 'Education', 'Marital', 'Housing', 'Loan', 'Service/product contracted', 'Previous marketing campaign outcome', 'Coordinates', 'ID', None, None]

In [129]:
# elimino las columnas sin nombre, con nombre NaN o con espacios, las inválidas y las que dan problemas:

df = df.loc[:, df.columns.notna()]
df = df.loc[:, df.columns.astype(str).str.strip() != ""]
bad_cols = [col for col in df.columns if col is None or str(col).strip() == ""]
categorical_cols = [
    col for col in categorical_cols
    if col is not None and col in df.columns
]

In [130]:
#estadísticas de las columnas numéricas

print("\n--- Estadísticas numéricas ---")
numeric_stats = df[numeric_cols].describe(percentiles=[0.25, 0.5, 0.75]).T
numeric_stats["median"] = df[numeric_cols].median()
print(numeric_stats)

--- Estadísticas numéricas ---
                          count          mean           std         min  \
Year                    43000.0   2012.861535      0.879460    2012.000
Age                     37880.0     39.977112     10.437957      17.000
Income                  43000.0  93241.200070  50498.316182    5841.000
NumWebVisitsMonth       43000.0     16.589698      9.239205       1.000
Kidhome                 43000.0      1.004791      0.815913       0.000
Teenhome                43000.0      0.998605      0.815983       0.000
Payment default         34019.0      0.000882      0.093905       0.000
Current campaign calls  43000.0      2.567233      2.772294       1.000
Days from last call     43000.0    962.330953    187.260394       0.000
Previous contacts       43000.0      0.174023      0.497366       0.000
Employment var.rate     43000.0      0.771279     15.738984     -34.000
Cons.price.idx          42529.0     93.574219      0.579548      92.201
Cons.conf.idx           43000.0    -40.509049      4.637186     -50.800
Euribor3months          33744.0      3.616521      1.737117       0.634
Nr.employed             43000.0   5166.835721     72.337206    4964.000
Latitude                43000.0  33515.780628  12159.968347     244.000
Longitude               43000.0 -86994.718721  30813.998447 -124997.000
Duration                43000.0    257.739279    258.666033       0.000

                               25%        50%         75%         max  \
Year                      2012.000   2013.000    2014.000    2014.000
Age                         32.000     38.000      47.000      98.000
Income                   49610.000  93050.500  136744.500  180802.000
NumWebVisitsMonth            9.000     17.000      25.000      32.000
Kidhome                      0.000      1.000       2.000       2.000
Teenhome                     0.000      1.000       2.000       2.000
Payment default              0.000      0.000       0.000      10.000
Current campaign calls       1.000      2.000       3.000      56.000
Days from last call        999.000    999.000     999.000     999.000
Previous contacts            0.000      0.000       0.000       7.000
Employment var.rate        -18.000     11.000      14.000      14.000
Cons.price.idx              93.075     93.749      93.994      94.767
Cons.conf.idx              -42.700    -41.800     -36.400     -26.900
Euribor3months               1.344      4.857       4.961       5.045
Nr.employed               5099.000   5191.000    5228.000    5228.000
Latitude                 28486.000  35432.000   42414.000   49384.000
Longitude              -108744.250 -92516.500  -76442.000    -672.000
Duration                   102.000    179.000     319.000    4918.000

                           median
Year                     2013.000
Age                        38.000
Income                  93050.500
NumWebVisitsMonth          17.000
Kidhome                     1.000
Teenhome                    1.000
Payment default             0.000
Current campaign calls      2.000
Days from last call       999.000
Previous contacts           0.000
Employment var.rate        11.000
Cons.price.idx             93.749
Cons.conf.idx             -41.800
Euribor3months              4.857
Nr.employed              5191.000
Latitude                35432.000
Longitude              -92516.500
Duration                  179.000

In [131]:
# redefino las columnas categóricas:

categorical_cols = df.select_dtypes(include=["object", "category"]).columns

In [132]:
#estadísticas de las columnas categóricas

print("\n--- Estadísticas categóricas ---")
for col in categorical_cols:
    print(f"\nColumna: {col}")
    counts = df[col].value_counts(dropna=False)
    percents = df[col].value_counts(normalize=True, dropna=False) * 100
    cat_summary = pd.DataFrame({"count": counts, "percent": percents})
    print(cat_summary)

--- Estadísticas categóricas ---

Columna: Job
               count    percent
Job
admin.         10873  25.286047
blue-collar     9654  22.451163
technician      7026  16.339535
services        4162   9.679070
management      3050   7.093023
retired         1790   4.162791
entrepreneur    1522   3.539535
self-employed   1489   3.462791
housemaid       1123   2.611628
unemployed      1063   2.472093
student          903   2.100000
                 345   0.802326

Columna: Education
                     count    percent
Education
university.degree    12722  29.586047
high.school           9925  23.081395
basic.9y              6309  14.672093
professional.course   5477  12.737209
basic.4y              4356  10.130233
basic.6y              2386   5.548837
                      1807   4.202326
illiterate              18   0.041860

Columna: Marital
          count    percent
Marital
MARRIED   25999  60.462791
SINGLE    12105  28.151163
DIVORCED   4811  11.188372
             85   0.197674

Columna: Housing
         count    percent
Housing
YES      22498  52.320930
NO       19476  45.293023
None      1026   2.386047

Columna: Loan
      count    percent
Loan
NO    35442  82.423256
YES    6532  15.190698
None   1026   2.386047

Columna: Service/product contracted
                            count    percent
Service/product contracted
NO                          38156  88.734884
YES                          4844  11.265116

Columna: Previous marketing campaign outcome
                                     count    percent
Previous marketing campaign outcome
NONEXISTENT                          37103  86.286047
FAILURE                               4461  10.374419
SUCCESS                               1436   3.339535

Columna: Coordinates
                count   percent
Coordinates
41495, -71233       1  0.002326
34601, -83923       1  0.002326
34939, -94847       1  0.002326
49041, -70308       1  0.002326
38033, -104463      1  0.002326
...               ...       ...
38147, -105582      1  0.002326
49235, -112201      1  0.002326
40679, -120015      1  0.002326
27772, -117518      1  0.002326
41146, -105026      1  0.002326

[43000 rows x 2 columns]

Columna: ID
                                      count   percent
ID
089b39d8-e4d0-461b-87d4-814d71e0e079      1  0.002326
e9d37224-cb6f-4942-98d7-46672963d097      1  0.002326
3f9f49b5-e410-4948-bf6e-f9244f04918b      1  0.002326
9991fafb-4447-451a-8be2-b0df6098d13e      1  0.002326
eca60b76-70b6-4077-80ba-bc52e8ebb0eb      1  0.002326
...                                     ...       ...
4eed05de-2a98-4227-b488-32122009b638      1  0.002326
0f0aca88-4088-4fe2-905f-44fb675d9493      1  0.002326
cadadd4b-7ee5-4019-b13a-ca01bb67ca5b      1  0.002326
5f432048-d515-4bb5-9c94-62db451f88d4      1  0.002326
993bbbd6-4dbc-4a40-a408-f91f8462bee6      1  0.002326

[43000 rows x 2 columns]

In [140]:
# aunque en excel las pasé a Yes / No para que fueran más claras, vuelvo a pasar las columnas binarias a 1 y 0:

def binary_transform(series):
    s = series.copy()

    # Si ya es numérica (0/1)
    if pd.api.types.is_numeric_dtype(s):
        uniq = sorted(s.dropna().unique())
        if uniq == [0, 1]:
            return s

    # Normalizar texto
    s = s.astype(str).str.strip().str.lower()

    mapping = {
        "yes": 1, "no": 0,
        "y": 1, "n": 0,
        "true": 1, "false": 0,
        "1": 1, "0": 0,
        "sí": 1, "si": 1
    }

    mapped = s.map(mapping)

    if mapped.notna().sum() >= s.notna().sum() * 0.9:
        return mapped
    
for col in binary_cols:
    df[col] = binary_transform(df[col])

safe_binary_cols = []

# separo binarias seguras de dudosas
for col in binary_cols:
    vals = df[col].dropna().unique()
    if set(vals).issubset({0, 1}):
        safe_binary_cols.append(col)

In [141]:
# verifico datos transformados

for col in binary_cols:
    print(f"\n{col}")
    print(df[col].value_counts(dropna=False))

Payment default
Payment default
None    43000
Name: count, dtype: int64

Housing
Housing
1.0    22498
0.0    19476
NaN     1026
Name: count, dtype: int64

Loan
Loan
0.0    35442
1.0     6532
NaN     1026
Name: count, dtype: int64

Service/product contracted
Service/product contracted
0    38156
1     4844
Name: count, dtype: int64